<h2>{{title}}</h2>
<h4>Aimed at demonstrate 2 things:
    <ul>
        <li>
            At reset button click time, `hero`, a non-primitive typed property,
            gets a new instance as it's value. Then OnChanges is triggered
            even though old and new instances are equal property-by-property.
        </li>
        <li>
            At input text changing time, when a non-primitive typed property,
            keeps a reference to a same instance, OnChanges is not triggered
            even though old and new instances are not equal property-by-property.
        </li>
    </ul>
</h4>

<label for="power-input">Power: </label>
<input type="text" id="power-input" [(ngModel)]="power">
<label for="hero-name"> Hero.name: </label>
<input type="text" id="hero-name" [(ngModel)]="hero.name">

<button type="button" (click)="reset()">Reset Log</button>

<on-changes [hero]="hero" [power]="power"></on-changes>
