<h2>{{title}}</h2>
<h4>Aims to demonstrate that when a non-primitive typed property,
    gets a new instance as it's value, OnChanges is triggered
    even though old and new instances are equal.
</h4>
<h4>Intenta mostrar que cuando una propiedad de tipo no primitivo,
    adquiere una nueva instancia como valor, se activa OnChanges
    aunque sea igual a la anterior.</h4>
<label for="power-input">Power: </label>
<input type="text" id="power-input" [(ngModel)]="power">
<label for="hero-name"> Hero.name: </label>
<input type="text" id="hero-name" [(ngModel)]="hero.name">

<button type="button" (click)="reset()">Reset Log</button>

<on-changes [hero]="hero" [power]="power"></on-changes>
